
/*making sure the page is using full browser*/
html,
body {
    width: 100%;
    height:100%;
}

/*constraining container size within the body*/
.container{
    margin:0 auto;
    width:100%;
    max-width:1200px;
}

/* Top bar*/
.top_container{
    margin:0 auto;
    width:90%;
    max-width:1200px;
    background-color: gray;
}

.top_row_p1{
    width : 100%;
    height : 100px;
    background-color : gray;
}

.top_links_p1{
    float:right;
    color: white;
    padding: 10px;
}

.middle_row_p1{
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
}

.middle_row_text_p1{
    text-align: center;
    vertical-align: top;
    line-height: 40px;
    font-size: 34pt;
    color: white;

}

.middle_row_bottom_text_p1{
    text-align: center;
    vertical-align: bottom;
    font-size: 18pt;
    color: white;
}

.middle_row_yellow_bar_p1{
    width: 100%;
    height: 100%;
    max-height: 125px;
    float: bottom;
    position: absolute;
    bottom: 0;
    background-color: #ffdc22;
}
.middle_row_yellow_bar_p1:hover{
    background-color: turquoise;
}

#fries_p1 {
    position: absolute;
    width: 375px;
    height: 250px;
    left: 325px;
}

#burger_p1 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 40px;
    left: 700px;
}

.bottom_row_p1{
    width: 100%;
    height: 100%;
    max-height: 450px;
    margin: 0 auto;
    position: relative;
}

#rams_p1{
    width: 450px;
    height: 100%;
    position: relative;
    float: left;
}

#rams2_p1{
    width: 450px;
    height: 100%;
    position: relative;
    float: right;
}

#nfl_p1{
    width: 75px;
    height: 75px;
    position: absolute;
    left: 665px;
}

.bottom_row_bottom_text_p1{
    position: absolute;
    top: 200px;
    left: 630px;
    font-size: 18pt;
    color: white;
}

.bottom_row_bottom_text_2_p1{
    position: absolute;
    top: 300px;
    left: 500px;
    font-size: 36pt;
    color: orange;
}
