.one_half { width : 30%; }

tr { border: black 2px double; }
td { border: black 2px double; }
.group-a { margin: 10px 20px 5px 15px; }
.red { background-color: red; width:25%; }

.red-box{ background-color: red;
    float:left;
    height: 50px;
}
.blue-box{background-color: blue;
    float:right;
    height: 50px;
}


/*Set border box
* {
    box-sizing:border-box;
}
/*making sure the page is using full browser*/
html,
body {
    width: 100%;
    height:100%;
}
/*constraining container size within the body*/
.container{
    margin:0 auto;
    width:100%;
    max-width:1200px;
}
/*have row class item take up their full container width*/
.row{
    width:100%;
}
/*using after psuedo class to start new vertical sections */
/*can be done with overflow:auto in a modern browser*/
.row:after{
    content: "";
    display: table;
    clear: both;
}
/*make a class for the column*/
.column{
    float:left;
    padding:10px;
    margin-bottom:10px;
    border:black 5px double;
    background-color: red;
}

.column_blank{
    float:left;
    padding:30px;
    margin-bottom:10px;
}
