p {
    font-size: 2em;
    font-weight: bold;
}

h1 {
    color : red;
}

h2 { color : turquoise; }

/* Class declarations */
.bold {font-weight: bolder;}
.flashy {background-color: gray;}

#unique {border: black 5px solid;}

.parent div{color: blue;}
.parent >div{color: green;}
div:hover {background-color: orange;}
.parent >div:hover {background-color: blue;}

/* Adding a style by ID */
#unique { font-size: x-large; }

/* Adding a style by class */
.toms_class { background-color: blanchedalmond; }